.image-zoom {

   &__body {
      img {
         max-width: 100vw;
         max-height: var(--vh);
      }
   }



   .modal__body {
      padding: 0;
      max-width: none;
      width: min-content;
   }
}